.btn, .btn-inverse, .btn-alternate, .btn-alternate-inverse {
  border-radius: 3px;
  transition: all 250ms ease;
  margin: 5px;
}

.btn, .btn-alternate {
  background-color: transparent;
}

.btn {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

.btn:hover {
  background-color: var(--main-color);
  color: #fff;
}

.btn-inverse {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: #fff;
}

.btn-inverse:hover {
  background-color: #fff;
  color: var(--main-color);
}

.btn-alternate {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.btn-alternate:hover {
  background-color: var(--secondary-color);
  color: #fff;
}

.btn-alternate-inverse {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: #fff;
}

.btn-alternate-inverse:hover {
  background-color: #fff;
  color: var(--secondary-color);
}

.btn-sm {
  min-width: var(--btn-width-sm);
  height: var(--btn-height-sm);
}

.btn-mid {
  min-width: var(--btn-width-mid);
  height: var(--btn-height-mid);
}

.btn-big {
  min-width: var(--btn-width-big);
  height: var(--btn-height-big);
}

.btn-circle-sm {
  width: var(--btn-height-sm);
  height: var(--btn-height-sm);
  border-radius: 50%;
}

.btn-circle-mid {
  width: var(--btn-height-mid);
  height: var(--btn-height-mid);
  border-radius: 50%;
}

.btn-circle-big {
  width: var(--btn-height-big);
  height: var(--btn-height-big);
  border-radius: 50%;
}
