:root {
  --main-color: #00adcc;
  --secondary-color: #9966ff;

  /* table properties */
  --line-height-base: 1.5;
  --table-cell-padding: 15px;
  --table-cell-padding-sm: 5px;
  --table-row-hover: #f5f5f5;
  --table-border-color: #ddd;
  --table-border-radius: 20px;
  --table-border-radius-sm: 10px;

  /* Button sizes */
  --btn-width-sm: 50px;
  --btn-height-sm: 20px;
  --btn-width-mid: 100px;
  --btn-height-mid: 30px;
  --btn-width-big: 150px;
  --btn-height-big: 50px;

  /* link properties */
  --link-color: #505050;
  --link-color-transition: 500ms;
}
