.link, .link-alternate {
  text-decoration: none;
  color: var(--link-color);
  border-bottom: 1px dotted var(--link-color);
  transition: all var(--link-color-transition) ease;
}

.link:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.link-alternate:hover {
  color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}

.link-inverse {
  text-decoration: none;
  color: var(--main-color);
  border-bottom: 1px dotted var(--main-color);
  transition: all var(--link-color-transition) ease;
}

.link-alternate-inverse {
  text-decoration: none;
  color: var(--secondary-color);
  border-bottom: 1px dotted var(--secondary-color);
  transition: all var(--link-color-transition) ease;
}

.link-inverse:hover {
  border-bottom: 1px solid var(--main-color);
}

.link-alternate-inverse:hover {
  border-bottom: 1px solid var(--secondary-color);
}
