/* reset */
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  transition: all 250ms ease;
}

.table {
  border-collapse: separate;
  border-bottom: 2px solid var(--main-color);
  border-spacing: 0;
  border-top: 0;
}

.table th {
  color: color(white);
  background-color: var(--main-color);
}

.table th, .table td {
  padding: var(--table-cell-padding);
  border-top: 1px solid var(--table-border-color);
}

.table thead th {
  border-bottom: 2px solid var(--table-border-color);
}

.table-striped tbody tr:nth-child(even) {
  background-color: color(var(--main-color) lightness(90%));
}

.table-hover tbody tr:hover {
  background-color: var(--table-row-hover);
}

.table-sm th, .table-sm td {
  padding: var(--table-cell-padding-sm);
}

.table-alternate th {
  color: color(white);
  background-color: var(--secondary-color);
}

.table-alternate {
  border-bottom: 2px solid var(--secondary-color);
}

.table-alternate.table-striped tbody tr:nth-child(even) {
  background-color: color(var(--secondary-color) lightness(90%));
}

.table-rounded th:first-child {
  border-radius: var(--table-border-radius) 0 0 0;
}

.table-rounded th:last-child {
  border-radius: 0 var(--table-border-radius) 0 0;
}

.table-rounded tr:last-child td:first-child {
  border-radius: 0 0 0 var(--table-border-radius);
}

.table-rounded tr:last-child td:last-child {
  border-radius: 0 0 var(--table-border-radius) 0;
}

.table-rounded {
  border-radius: var(--table-border-radius);
}

.table-rounded.table-sm th:first-child {
  border-radius: var(--table-border-radius-sm) 0 0 0;
}

.table-rounded.table-sm th:last-child {
  border-radius: 0 var(--table-border-radius-sm) 0 0;
}

.table-rounded.table-sm tr:last-child td:first-child {
  border-radius: 0 0 0 var(--table-border-radius-sm);
}

.table-rounded.table-sm tr:last-child td:last-child {
  border-radius: 0 0 var(--table-border-radius-sm) 0;
}

.table-rounded.table-sm {
  border-radius: var(--table-border-radius-sm);
}
